<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rota151" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <meta name="google" content="notranslate">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pokemon", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <aside class="pokemon-sidebar">
      <div class="pokemon-sidebar-header">
      </div>
      <nav class="pokemon-nav">
        <ul class="pokemon-list">
          <li class="pokemon-list-group active">
            <button class="pokemon-list-group-btn">Calculadora de CP</button>
          </li>
          <li class="pokemon-list-group">
            <button class="pokemon-list-group-btn">Raids</button>
          </li>
          <li class="pokemon-list-group">
            <button class="pokemon-list-group-btn">PvP</button>
          </li>
          <li class="pokemon-list-group">
            <button class="pokemon-list-group-btn">Guias</button>
          </li>
          <li class="pokemon-list-group">
            <button class="pokemon-list-group-btn">Eventos</button>
          </li>
        </ul>
      </nav>
    </aside>

    <%= yield %>
  </body>
</html>
